<div class="container">
  <h1>All your lists</h1>
  <ul class="list-group">
      <% @lists.each do |list|%>
        <div class="btn">
          <%= link_to list_path(list) do%>
            <li class="list-group-item">
              <%= cl_image_tag "Studio-Ghibli-Porco-Rosso-screen-shot-2189849-wallhere.com_5_tzykwx", height: 300, width: 400, crop: :fill %>
              <%= list.name %>
            </li>
          <% end %>
        </div>
      <% end %>
  </ul>
  <%= link_to "Add a new list", new_list_path, class: "mt-5 btn btn-primary" %>
</div>
